@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/inter-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/inter-700.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 900;
  src: url("../fonts/inter-900.woff2") format("woff2");
  font-display: swap;
}

body{
  font-family: "Inter", sans-serif;
  font-style: Regular;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  color: #2D3440;
  vertical-align: top;
  background-color: #FEAFC3;
   /*Убираем встроенные отступы*/
  margin-block-start: 0;
  margin-block-end: 0;
}

h1 {
  font-weight: 900;
  font-size: 36px;
  line-height: 46px;
}

h2 {
  font-weight: 900;
  font-size: 32px;
  line-height: 46px;
  text-align: center;
}

h3 {
  font-weight: 700;
  font-size: 24px;
  line-height: 30px;

}

h4 {
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
}

a {
  text-decoration: none;
  color: #2D3440;
  }

.page_header {
  line-height: 20px;
  text-align: left;
}

.navigation_user {
  font-size: 14px;

}

.navigation_user .number {
  font-weight: 700;
  font-size: 16px;
}

.slider{
  text-align: left;
  margin-bottom: 80px;
}

.slider p {
  font-size: 18px;
  line-height: 24px;
}

.btn {
  border-radius: 26px;
  font-weight: 700;
  line-height: 20px;
  text-align: center;
  border: none;
  box-shadow: 0 4px 12px rgba(45, 52, 64, 0.1);
}

.btn_white {
  color: #2D3440;
  background-color: #FCFCFC;
  outline: 4px solid rgba(252, 252, 252, 0.4);
}

.btn_rose {
  background-color: #FF2F64;
  color: #FCFCFC;
  outline: 4px solid rgba(255, 47, 100, 0.3);
}

.slider .btn_white{
  width: 139px;
  height: 44px;
}

.btn_radio_slide {
  width: 12px;
  height: 12px;
  background-color: rgba(252, 252, 252, 0.4);
  border: none;
  border-radius: 100px;
}
.active_radio_slide {
  background-color: #FCFCFC;
}

.bounty {
  margin: 0 auto 81px auto;

}

.bounty .btn_white{
  width: 176px;
  height: 44px;
}

.banner {
  width: 570px;
  height: 268px;
  border-radius: 16px;
  background-color: #FF7799;
  display: inline-block;
}

.in_banner_1 {
  width: 570px;
  height: 268px;
  border-radius: 16px;
  background: url("../images/raspberry_gift.png") no-repeat 100% 0;
}

.padding_bounty {
  padding: 12px 0 28px 36px;
}

.padding_bounty p{
  margin-bottom: 28px;
}

.in_banner_2 {
  width: 570px;
  height: 268px;
  border-radius: 16px;
  background: url("../images/marshmallow_gift.png") no-repeat 100% 0;
}

.flavors {
  margin-bottom: 80px;
}

.ice_cream_item {
  width: 270px;
  height: 281px;
  background-color: #FCFCFC;
  border-radius: 8px;
  text-align: center;
  margin: 0 auto;
  display: inline-block;
}

.ice_cream_item h4 {
  margin: 16px 0 8px 0;
}

.ice_cream_item p {
  margin: 0;
}

.btn_add_cart {
  width: 16px;
  height: 16px;
  border: none;
  padding: 0;
  border-radius: 50%;
}

.advantage {
  margin-bottom: 80px;
}

.advantage_wrapper {
   width: 1170px;
   height: 480px;
   background: url("../images/wafer_1.jpg") repeat;
   border-radius: 16px;
   margin:0 auto;
}

.advantage_list {
  width: 1122px;
  height: 432px;
  background-color: #fff;
  border-radius: 16px;
  padding-inline-start: 0;
  margin: 24px auto;
}

.advantage_list h2 {
  padding: 56px 0;
  margin: 0 auto;
}

.advantage_item {
  display: inline-block;
}

.visually-hidden {
  visibility: hidden;
}

.news_and_subscription {
  margin-bottom: 80px;
}

.news {
  width: 570px;
  height: 224px;
  background: url("../images/serving.jpg") no-repeat;
  background-size: cover;
  background-position: 100% ;
  border-radius: 16px;
}

.in_news {
  padding: 32px;
}

.subscription_wrapper {
  width: 570px;
  height: 224px;
  background: url("../images/subs.png") no-repeat;
  border-radius: 16px;
}

.subscription {
  background-color: #fff;
  width: 558px;
  height: 212px;
  border-radius: 16px;
  margin: 6px;
}

.subscription p {
  margin: 0;
  padding: 26px;
}

.subscription form {
  margin: 0;
  padding: 18px 0 0 26px;
}

.input {
  border-radius: 4px;
  background-color: #fff;
  border: 1px solid #B9B9B9;
  padding: 0;
  padding-left: 16px;
}

.email {
  width: 314px;
  height: 46px;
}

.subscription .btn_rose {
  width: 152px;
  height: 44px;
  margin-left: 18px;

}

.delivery_wrapper {
  width: 1170px;
  height: 534px;
  background: url("../images/delivery.jpg") no-repeat;
  border-radius: 16px;
  background-size: cover;
  margin: 0 auto;
  margin-bottom: 80px;
  /*transform: scale(-1, 1);*/
}

.delivery_text, .delivery_form {
  /*transform: scale(-1, 1);*/
  display:inline-block;
}

.delivery_text h2 {
  text-align: left;
  padding: 167px 0 24px 100px;
}

.delivery_text p {
  text-align: left;
  padding-left: 100px;
}

.delivery_form {
  background-color: #fff;
  width: 460px;
  height: 366px;
  border-radius: 8px;
  padding: 40px 0 0 40px;
  margin-left: 135px;
}

.delivery_form p {
  margin: 0;
  margin-bottom: 32px;
}

.date {
  width: 99px;
  height: 46px;
  margin-bottom: 20px;
}

.tel {
  width: 269px;
  height: 46px;
  margin-bottom: 20px;
}

.address {
  width: 402px;
  height: 46px;
  margin-bottom: 32px;
}

.delivery_form  .btn_rose {
  width: 152px;
  height: 44px;
  padding: 0;
  margin-left: 135px;
}

.contacts {
  width: 1170px;
  height: 492px;
  background: url("../images/feedback.jpg") no-repeat;
  border-radius: 16px;
  background-size: cover;
  background-position: 50% 50%;
  margin: 0 auto;
}

.contacts_form {
  background-color: #fff;
  width: 303px;
  height: 324px;
  border-radius: 8px;
  padding: 40px 0 0 40px;
  margin: 64px 0 0 64px;
}
.contacts_form p {
  margin: 0;
  margin-bottom: 12px;
}

.contacts_form .bold {
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  margin-bottom: 24px;
}

.font-size {
  font-size: 14px;
  line-height: 20px;
}

.contacts .btn_rose {
  width: 250px;
  height: 44px;
  margin-top: 20px;
}

.sources a{
  text-decoration: underline;
  text-decoration-color: #2D3440;
}


/*ДЛЯ КАТАЛОГА*/

.filters_back {
  background-color: rgba(252, 252, 252, 0.3);
  border: none;
  border-radius: 20px;
  padding-left: 16px;
}
.filters_select {
  width: 196px;
  height: 36px;
}

.filters_fat {
  width: 383px;
  height: 36px;
}

.filters_filler {
  width: 604px;
  height: 40px;
}

.filters_btn {
  outline: 2px solid #fff;
  width: 185px;
  height: 36px;
  font-weight: 700;
}

.pagination .btn_white {
  width: 179px;
  height: 44px;
}

.pagination_active {
  background-color: #FCFCFC;
  width: 24px;
  height: 24px;
  border: none;
  border-radius: 50%;
}

.pagination_link{
  padding: 2px 8px;
}

.line {
  background-color: rgba(252, 252, 252, 0.3);
  width: 1170px;
  margin: 0 auto;
  height: 2px;

}
